In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\yaroslav\Downloads\att1_091.csv")
df.head()

,Unnamed: 0,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0.1.1,_id,nameRu,nameEn,year,posterUrl,...,directors[32].directorEn,directors[33].directorEn,directors[34].directorEn,directors[35].directorEn,filmId,type,amount,cur,directors,rating
0,0,0,0,0,0,647385e537c1458c9452b5ba,И целого мира мало,The World Is Not Enough,1999,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,6585,BUDGET,135000000.0,USD,1,7.034
1,1,1,1,1,1,647385e537c1458c9452b5bb,Суперагент Саймон,Simon Sez,1999,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,25189,BUDGET,10000000.0,USD,1,4.654
2,2,2,2,2,2,647385e537c1458c9452b5bc,Бойцовский клуб,Fight Club,1999,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,361,BUDGET,63000000.0,USD,1,8.664
3,3,3,3,3,3,647385e537c1458c9452b5bd,Паутина лжи,Random Hearts,1999,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,2761,BUDGET,64000000.0,USD,1,6.053
4,4,4,4,4,4,647385e637c1458c9452b5be,Любить по-русски 3: Губернатор,NaN,1999,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,94081,NaN,0.0,NaN,0,5.207

In [3]:
min_length_russian_title = df['nameRu'].str.len().min()
min_length_russian_title

1.0

In [5]:
sorted_data = df.sort_values(by='directors', ascending=False)
top_three_film_ids = sorted_data['filmId'].head(3).tolist()
top_three_film_ids

[279724, 77437, 669654]

In [9]:
budget_rows = df[df['type'] == 'BUDGET']
non_zero_budget_count = budget_rows[budget_rows['amount'] != 0].shape[0]
non_zero_budget_count

1013

In [23]:
budget_rows['rating'].mean()

6.702399014778317

In [11]:
df['rating'].mean()

6.052385728796339